{% extends "base.html" %}

{% block content_title %}
<div class="container">
    <h1>Восстановление пароля</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Пароль:<br>
            {{ form.password(size=64) }}<br>
            Повторите пароль: <br>
            {{ form.password_1(size=64) }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}