.navbar-brand {
    padding: 10px
}

.nav-item {
    padding: 10px
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #0d6efd;
  color: white;
}

.topnav-right {
  float: right;
}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
   }

[data-tooltip]:after {
    content: attr(data-tooltip); /* Выводим текст */
    position: relative; /* Абсолютное позиционирование */
    width: 300px; /* Ширина подсказки */
    left: 10px; top: 0; /* Положение подсказки */
    background: #3989c9; /* Синий цвет фона */
    color: #fff; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 0.5s; /* Время появления подсказки */
}

[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 0; /* Положение подсказки */
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0 0 70px;
}
