{% extends 'base.html' %}

{% block content_title %}
<div class="container">
<h1>Добавить новую вакансию</h1>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <form action="{{url_for('posts.create_post')}}" method="post">
        {% for field in form %}
        <div class='form-group'>
            <p>{{ field.label() }}
            <p>{{ field(class = 'form-control') }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>
{% endblock %}